body {
	//background: url(../images/page-mock.png);
	background-size: 1024px 885px;
	background-repeat: no-repeat;

	font-family: Verdana, sans-serif;
}

.container {
	width: 970px;
	margin: 26px 27px;
}

h1 {
	text-align: center;
    color: #666;
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 27px;
    margin-top: 42px;
    margin-left: -16px;
    letter-spacing: -0.6px;
}

h2 {
	color: #f07c17;
	font-size: 24px;
}

img {
	width: 374px;
}

.left {
	width: 40%;
	float: left;
}

.right {
	width: 57%;
	float: left;
	margin-top: -22px;
    margin-left: 23px;
}

.box {
	border: 1px solid #ccc;
    width: 319px;
    margin-top: 28px;
    padding: 10px 30px 30px;
}

p {
	color: #666666;
	font-size: 16px;
    line-height: 32px;
}

ul {
	color: #666666;
    font-size: 16px;
    line-height: 32px;
    margin-top: 26px;
    margin-left: 7px;
}